*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
@import url("https: //fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

html {
  font-size: 100%;
}

:root {
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* fonts  */
  --headingFont: 'Roboto', Sans-Serif;
  --bodyFont: 'Roboto', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}